<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <meta property="og:type" content="video" />
    <meta property="og:title" content="<%= title =>" />
    <meta property="og:author" content="<%= author %>" />
    <meta property="og:video:actor" content="<%= author =>"/>
    <meta property="og:video:director" content="<%= author =>"/>
    <meta property="og:release_date" content="<%= upload_date =>"/>
    <meta property="og:update_date" content="<%= release_date =>"/>
    <meta property="og:video:release_date" content="<%= upload_date =>"/>
    <meta property="og:video:update_date" content="<%= release_date =>"/>
    <meta property="og:image" content="<%= thumbnail %>" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:description" content="<%= description =>" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:video" content="<%= url %>" />
    <link rel="canonical" href="<%= url %>" />
    <meta http-equiv="Refresh" content="0; url='<%= url %>'" />
    <meta name="theme-color" content="#de698c">
</head>
<body>
    <p><a href="<%= url %>">Go to the video</a></p>
</body>
</html>
